---
title: Welcome to Forum
---
/! Banner
section#banner
  .content
    header
      h2
        | Staging Memory
      p
        | What does it mean to be human in a
        br/
        | technologically infused world?
    span.image
      img alt="" src="img/pic01.jpg" /
  a.goto-next.scrolly href="#one"  Next
/! One
section#one.spotlight.style1.bottom
  span.image.fit.main
    img alt="" src="img/pic02.jpg" /
  .content
    .container
      .row
        .4u class="12u$(medium)"
          header
            h3 Staging Memory is a new World War Two Remembrance project that delivers a unique, interdisciplinary, interactive, and participatory approach to memorialization.
            br/
            a.button href="#"  Learn More
        .8u class="12u$(medium)"
          p
            | „Staging Memory” investigates the question “Can technology awaken our humanity?” during the 75th anniversary of the end of World War Two. It will use technology, history, design, and data, to represent new ideas about the memory and history of war and mass murder.
            br/
            br/
            | The goal of the project is to create a new language of memorialization using new and emerging technologies that are suitable for a 21st century audiences. It will employ technology and data visualization to paint the untold landscape of mass murder and destruction. The project will emote and move its audience, creating new platforms of experience to facilitate engagement with ideas and concepts, which are typically and historically unapproachable.
